div.managemovies { float:left; width:100%; }
div.managemovies>span { float:left; width:100%; }
div.managemovies>div.movies { float:left; width:100%; margin-top:25px; }

div.tabs { float:left; width:100%; margin-top:25px; }
div.tabs>div.selection { float:left; width:100%; font-size:0.7em; font-weight:bold; font-family:Arial; }
div.tabs>div.selection>span { float:left; padding:3px 8px; background-color:#EBEBEB; color:#888; margin-left:5px; margin-right:5px; -moz-border-radius-topleft:5px; -moz-border-radius-topright:5px; cursor:pointer; text-transform:uppercase; }
div.tabs>div.selection>span.selected { background-color:#BED7ED; color:#333; cursor:default; }
div.tabs>div.tab { float:left; width:960px; padding:5px; background-color:#BED7ED; }
div.tabs>div.tab>div { float:left; width:940px; padding:10px; height:100%; background-color:White; }

div.movie { float:left; width:100%; padding-top:10px; border-top:dotted 1px #888; margin-bottom:10px; }
div.movie:first-child { padding-top:0px; border-top:none; }
div.movie:last-child { margin-bottom:0px; }
div.movie>img { float:left; width:86px; height:129px; }
div.movie>div { float:left; width:844px; margin-left:10px; }
div.movie>div>a { float:left; font-size:1.2em; cursor:pointer; color:#2A7AC9; }
div.movie>div>a:hover { color:#04315E; }
div.movie>div>i { float:left; width:100%; margin-top:3px; color:#888; font-size:0.7em; font-style:normal; font-family:sans-serif; }
div.movie>div>u { float:left; width:100%; overflow:hidden; margin-top:5px; text-decoration:none; font-size:0.8em; font-family:sans-serif; height:62px; margin-bottom:5px; }
div.movie>div>div { float:left; width:100%; }
div.movie>div>div>div { float:left; }
div.movie>div>div>img { float:right; cursor:pointer; margin-left:5px; width:16px; height:16px; }
div.movie>div>div>div>a { cursor:pointer; font-size:0.75em; color:#2A7AC9; background-color:White; padding:2px 5px; -moz-border-radius:3px; }
div.movie>div>div>div>a:hover { background-color:#CEE8F5; }

div.loading { font-size:0.9em; }
div.loading>div>img { float:left; }
div.loading>div>span { float:left; margin-left:10px; margin-top:4px; }