<div class="managemovies">
    <span class="header">Manage movies</span>

	<div class="uncategorized tab rounded hidden">
		<div>
			<span></span>
		</div>
	</div>

	<div class="addmovie">
		<span></span>
		<div class="search">
			<span>What's the name of this movie?</span>
			<input type="text" />
		</div>
		<div class="buttons searchbuttons">
			<span></span>
			<div>
				<button class="neutral">
					<img src="/images/searchbutton.png" alt="" />
					<span>Search</span>
				</button>
				<button class="negative">
					<img src="/images/redxbutton.png" alt="" />
					<span>Cancel</span>
				</button>
			</div>
		</div>
		<div class="results hidden">
			<div class="more">
				<a class="selectable">Next</a>
				<a class="selectable">Previous</a>
			</div>
		</div>
		<div class="buttons resultbuttons hidden">
			<div>
				<button class="success" disabled="disabled">
					<img src="/images/greencheckbutton.png" alt="" />
					<span>Select Movie</span>
				</button>
			</div>
		</div>
	</div>

    <div class="tabs"></div>
</div>