div.info { float:left; width:100%; }
div.info>span { float:left; width:100%; }
div.info>p { float:left; width:100%; margin-top:20px; margin-bottom:5px; }
div.info>ol { float:left; width:100%; margin-top:0px; margin-bottom:0px; font-size:0.9em; }

div.step { float:left; width:946px; padding:10px; margin-top:30px; }
div.step>span { float:left; width:100%; }
div.step>span.description { margin-top:5px; }

div.chooseinfo>div.input { float:left; width:100%; margin-top:20px; }
div.chooseinfo>div.input>span { float:left; margin-top:1px; }
div.chooseinfo>div.input>input[type='text'] { float:left; width:840px; }
div.chooseinfo>div.input>button { float:right; margin-top:1px; }
div.chooseinfo>div.searchresults { float:left; width:100%; margin-top:10px; font-size:14px; }
div.chooseinfo>div.searchresults>div { float:left; width:934px; padding:2px 5px; border:solid 1px #DDD; background-color:White; margin-top:2px; }
div.chooseinfo>div.searchresults>div:hover { border-color:#6FA4E8; }
div.chooseinfo>div.searchresults>div:first-child { margin-top:0px; }
div.chooseinfo>div.searchresults>div>i { float:left; font-style:normal; }
div.chooseinfo>div.searchresults>div>b { float:left; font-weight:normal; color:#888; font-size:0.85em; margin-top:2px; margin-left:10px; }
div.chooseinfo>div.searchresults>div.count { float:left; width:100%; color:#777; padding:0; border:none; background-color:inherit; margin-top:10px; }
div.chooseinfo>div.searchresults>div.count>span { float:left; }
div.chooseinfo>div.searchresults>div.count>a { float:right; margin-left:10px; }

div.choosefile>div.input { float:left; width:100%; margin-top:10px; }
div.choosefile>div.input>object { float:right; }
div.choosefile>div.input>span { float:right; width:92px; height:23px; }
div.choosefile>div.input>input[type='text'] { float:left; width:833px; }
div.choosefile>div.file { float:left; width:100%; margin-top:20px; display:none; font-size:0.85em; color:#666; }
div.choosefile>div.file>span { float:left; width:100%; }
div.choosefile>div.file>input { float:right; margin-top:10px; }

div.moviedetails { float:left; width:700px; }
div.moviedetails>div.info { float:left; width:100%; }
div.moviedetails>div.info>img { float:left; width:180px; height:270px; }
div.moviedetails>div.info>span { float:left; width:500px; margin-left:10px; color:#666; font-size:0.9em; }
div.moviedetails>div.buttons { float:left; width:100%; margin-top:10px; }
div.moviedetails>div.buttons>input { float:right; margin-left:10px; }