<div class="info">
	<span class="header">Add a movie</span>
	<p>You've come here to add a new movie to your account.  It's a three step process:</p>
	<ol>
		<li>Select information regarding the movie you're uploading.</li>
		<li>Select the file you wish to upload from somewhere on your computer.</li>
		<li>Wait for the upload to complete (<b>the larger the file, the longer the upload time</b>).</li>
	</ol>
</div>

<div class="chooseinfo step rounded panel">
	<span class="subheader">Select your movie's information</span>
	<span class="description">We pull our information from public, up-to-date sources to provide you with the ability to <i>choose</i> which movie you're uploading instead of manually entering all the information.  Movie posters, synopses, and cast information are all available to you when you view the movie.</span>
	<div class="input">
		<span>Enter the name of the movie you're uploading:</span>
		<input type="text" class="rounded" />
		<input type="button" value="Get Info" />
	</div>
	<div class="searchresults">
		<div class="count">
			<span></span>
			<a class="hidden">More</a>
		</div>
	</div>
</div>

<div class="choosefile step rounded panel hidden">
	<span class="subheader">Choose your file</span>
	<span class="description">Click the "choose your file" button below to pick a file that's on your computer.  When choosing your file, keep in mind that the larger the file, the larger the upload time!</span>
	<div class="input">
		<input type="text" class="rounded" readonly="readonly" />
		<!--<span id="spanButtonPlaceholder"></span>-->
		<!--<input type="file" id="uploadify" />-->
		<span id="yuiuploader" class="yuiuploader"></span>
	</div>
	<div class="file">
		<span>You've selected the file "<b>test.avi</b>".  It has a size of <b>123,456 kb</b>.  If this is the file you wish to upload, click the upload button below.  If it's not, choose another above.</span>
		<input type="button" value="Upload File" />
	</div>
</div>
