<div>
	<div class="info">
		<span class="header">Add a TV show</span>
		<p>You've come here to add a new TV show or episode to your account.  It's a three step process:</p>
		<ol>
			<li>Select the file you wish to upload from somewhere on your computer.</li>
			<li>While your file is uploading, choose matching TV show information from online sources.</li>
			<li>Wait for the upload to complete (<b>this might take some time if it's a large file</b>).</li>
		</ol>
	</div>

	<div class="choosefile step rounded panel">
		<span class="subheader">Choose your file</span>
		<span class="description">Click the "choose your file" button below to pick a file that's on your computer.  When choosing your file, keep in mind that the larger the file, the larger the upload time!</span>
		<div class="input">
			<input type="text" class="rounded" readonly="readonly" />
			<!--<span id="spanButtonPlaceholder"></span>-->
			<input type="file" id="uploadify" />
		</div>
		<div class="file">
			<span>You've selected the file "<b>test.avi</b>".  It has a size of <b>123,456 kb</b>.  If this is the file you wish to upload, click the upload button below.  If it's not, choose another above.</span>
			<input type="button" value="Upload File" />
		</div>
	</div>
</div>